@media (max-width: 576px) {
  .navbar-second-right input {
    width: 10rem;
    text-indent: 8px;
  }
  .swiper {
    height: 200px;
    margin: 20px auto;
  }
  .kampanyalar {
    &__images {
      height: 200px;
    }
  }
  .urunler {
    &__title {
      margin-bottom: 10px;
    }
    &__link {
      padding: 10px;
      margin-right: 5px;
    }
  }
  .popular {
    margin: 20px 0;

    &__images {
      display: none;
    }
    &__images-card {
      height: auto;
      display: flex;
      flex-direction: column;

      div {
        padding: 5px;
        margin: 10px;
        color: black;
        font-weight: 600;
        h3 {
          color: black;
          font-size: x-large;
        }
      }
      div:nth-child(1) {
        background-image: url(../img/popular.jpg);
        background-position: center;
        background-size: cover;
        background-origin:border-box;
      }
      div:nth-child(2) {
        background-image: url(../img/popular2.jpg);
        background-position: center;
        background-size: cover;
        background-origin:border-box;
      }
      div:nth-child(3) {
        background-image: url(../img/popular3.jpg);
        background-position: center;
        background-size: cover;
        background-origin:border-box;
      }
    }
    #card-two {
      color: black;
      h3 {
        color: black;
      }

      button {
        background-color: green;
        color: white;
      }
    }
  }

  .kampanya {
    height: 170px;
    margin: 20px 0;
  }
  .icons p {
    font-size: large;
  }
  .footer {
    &__ust {
      justify-content: center;

      .kategoriler,
      .hakkimizda {
        display: none;
      }

      div {
        width: 30vw;
      }
    }
    &__alt {
      padding: 5px;
      justify-content: center;

      div {
        display: none;
      }
    }
  }
}
