@media (max-width: 420px) {
  .navbar-second-right {
    input + svg {
      right: 1rem;
    }
    input {
      width: 8rem;
      text-indent: 4px;
      font-size: medium;
    }
    svg {
      margin-left: -12px;
    }
  }
  .swiper {
    height: 150px;
    margin: 10px auto;
  }
  .kampanyalar {
    &__images {
      height: 150px;
      grid-template-columns: 2fr;
      div:nth-child(2) {
        display: none;
      }
    }
  }
  .urunler {
    &__buttons {
      flex-direction: column;
      align-items: center;
    }
    &__urun {
      display: grid;
      grid-gap: 10px 10px;
      grid-template-columns: 2fr;
    }
    &__link {
      text-align: center;
      width: 100%;
      margin: 5px 0;
    }
  }

  .kampanya {
    height: 150px;
    margin: 20px 0;
  }
  .icons {
    margin: 10px 0;
    svg {
      width: 2rem;
      height: 2rem;
    }
    p {
      font-size: medium;
    }
  }
  .footer {
    &__ust {
      div {
        padding: 0;
      }
    }
  }
}
